
<div ng-controller = "special_transferctrl" ng-init = "New()">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right" ng-show = "Save">
                    <button class="btn btn-dark btn-block waves-effect waves-light" ng-click = "BtnSave(0)" type="button">Aktarımı Kaydet</button>
                </div>
                <div class="page-title-right" ng-show = "Delete">
                    <button class="btn btn-danger btn-block waves-effect waves-light" ng-click = "BtnDelete()" type="button">Aktarımı Sil</button>
                </div>
                <h4 class="page-title">{{TransferTitle}}</h4>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box">
                                            <h4 class="page-title text-center">Kaynak Veritabanı</h4>
                                        </div>
                                    </div>
                                </div> 
                                <div class="form-group row mb-3">
                                    <label class="col-md-4 col-form-label" for="userName2">Veritabanı IP :</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model = "Source.server">
                                            <div class="input-group-append">
                                                <button class="btn btn-dark btn-block waves-effect waves-light" ng-click = "BtnSourceDataBaseCheck()" type="button">Onay</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-4 col-form-label">Kullanıcı/Şifre :</label>
                                    <div class="col-4">
                                        <input type="text" class="form-control" ng-model = "Source.user">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" ng-model = "Source.password">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-md-4 col-form-label" for="userName2">Veritabanı :</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model = "Source.database" ng-change = CmbSourceDatabaseChange()>
                                            <option ng-repeat = "SourceDatabase in SourceDatabaseList">{{SourceDatabase.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-md-4 col-form-label" for="userName2">Sorgu :</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" ng-model = "Query" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-md-4 col-form-label" for="userName2">Kaynak Satır :</label>
                                    <label class="col-md-4 col-form-label text-center" for="userName2">Seçilen Satır Sayısı : {{ToplamSatir}}</label>
                                    <div class="col-md-4">
                                        <button class="btn btn-dark btn-block waves-effect waves-light" ng-click = "BtnSelectProduct()" type="button">Satır Seçimi</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box">
                                            <h4 class="page-title text-center">Hedef Veritabanı</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-md-4 col-form-label" for="userName2">Veritabanı IP :</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model = "Target.server">
                                            <div class="input-group-append">
                                                <button class="btn btn-dark btn-block waves-effect waves-light" ng-click = "BtnTargetDataBaseCheck()" type="button">Onay</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-4 col-form-label">Kullanıcı/Şifre :</label>
                                    <div class="col-4">
                                        <input type="text" class="form-control" ng-model = "Target.user">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" ng-model = "Target.password">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-md-4 col-form-label" for="userName2">Veritabanı :</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model = "Target.database" ng-change = CmbTargetDatabaseChange()>
                                            <option ng-repeat = "TargetDatabase in TargetDatabaseList">{{TargetDatabase.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-md-4 col-form-label" for="userName2">Hedef Tablo :</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model = "Target.table">
                                            <option ng-repeat = "TableList in TargetTableList">{{TableList.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-md-8 offset-4">
                                        <button class="btn btn-dark btn-block waves-effect waves-light" ng-click = "BtnTransfer()" type="button">Kayıtları Aktar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="progress mb-0">
                <div class="progress-bar bg-dark" id="PrBar" role="progressbar" style="width: 0%;">0 %</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">
                    <div class="form-group row mb-0">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h6 class="page-title text-center">Başarılı İşlemler</h6>
                            </div>
                        </div>
                    </div> 
                    <div id = "TblInfo"></div>
                </div> 
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">
                    <div class="form-group row mb-0">
                        <div class="col-4 offset-4">
                            <div class="page-title-box">
                                <h6 class="page-title text-center text-danger">Başarısız İşlemler</h6>
                            </div>
                        </div>
                        <div class="col-4 pt-3">
                            <button class="btn btn-dark btn-block waves-effect waves-light" ng-click = "BtnTransfer()" type="button">Tekrar Aktar</button>
                        </div>
                    </div>
                    <div id = "TblError"></div>
                </div> 
            </div>  
        </div>
    </div>
    <div id="MdlData" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-width">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="fullWidthModalLabel">Satır Seçimi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div id = "TblGrid"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Çıkış</button>
                </div>
            </div>
        </div>
    </div>
    <div id="MdlSave" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="fullWidthModalLabel">Aktarım Başlığı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body pb-0">
                    <div class="form-group row mb-3">
                        <label class="col-md-4 col-form-label" for="userName2">Aktarım Başlığı :</label>
                        <div class="col-md-8">
                            <input class="form-control" ng-model = "CreateTitle"></input>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-dark" ng-click = "BtnSave(1)" data-dismiss="modal">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>