
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Aktarım Raporları</li>
                </ol>
            </div>
            <h4 class="page-title">Aktarım Raporları</h4>
        </div>
    </div>
</div>
<div ng-controller = "transfer_reportctrl" ng-init = "New()">  
    <div class="row" >
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form>
                                <div class="form-group row mb-3">
                                    <label class="col-md-4 col-form-label" for="userName2">Veritabanı IP :</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model = "Source.server">
                                            <div class="input-group-append">
                                                <button class="btn btn-dark btn-block waves-effect waves-light" ng-click = "BtnSourceDataBaseCheck()" type="button">Onay</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-4 col-form-label">Kullanıcı/Şifre :</label>
                                    <div class="col-4">
                                        <input type="text" class="form-control" ng-model = "Source.user">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" ng-model = "Source.password">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group mb-3">
                                            <input class="form-control" type="date" id = "FirstDate">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group mb-3">
                                            <input class="form-control" type="date" id = "LastDate">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group mb-3">
                                            <button type="submit" class="btn btn-dark btn-block waves-effect waves-light" ng-click = "BtnShow()">Kayıtları Göster</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div id = "TblReport"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>