
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Aktarım Servisi</li>
                </ol>
            </div>
            <h4 class="page-title">Aktarım Servisi</h4>
        </div>
    </div>
</div>
<div ng-controller = "transfer_servicectrl" ng-init = "New()">  
    <div class="row" >
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form>
                                <div class="form-group row mb-3">
                                    <label class="col-md-4 col-form-label" for="userName2">Mağaza :</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id = "ShopSelected">
                                            <option ng-repeat = "Shop in ShopList">{{Shop.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model = "Time">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-md-4 col-form-label" for="userName2"></label>
                                    <div class="col-md-4">
                                        <button class="btn btn-dark btn-block waves-effect waves-light" ng-click = "BtnTransfer(1)" type="button">Servisi Başlat</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-danger btn-block waves-effect waves-light" ng-click = "BtnTransfer(2)" type="button">Servisi Durdur</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="page-title text-center">Aktif Servisler</h4>
                    <div class="row" ng-repeat = "info in Info">
                        <div class="col-lg-12">
                            <form>
                                {{info}}
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>